main
   font-family: 'Roboto'
   margin: 0 auto
   padding: 10px 20px
   background-color: white
   box-shadow: $shadow
   min-height: 1500px
   line-height: 25px


@media screen and (max-width: $frontier)
   main
      width: 100%;

@media screen and (min-width: $frontier)
   main
      width: 80%;
 

@import './chart.sass'
@import './product.LIST.sass'
@import './modal.sass'
@import './login.sass'
@import './ratings.sass'