@import '../../../SharedAssets/variables.scss';


/*=============================
            Main
  =============================*/
main{
   font-family: 'Roboto';
   width: 80%;
   margin: 0 auto;
   background-color: white;
   box-shadow: 0px 0px 21px 0px rgba(51, 50, 50, 0.75) ;
   min-height: 1500px;
   z-index: 1;

   h1{
      padding: 10px;
   }

   hr{
      margin: 20px 10px 10px;
   }
}

/*=============================
            Home
  =============================*/
.description{
   font-family: 'Roboto';
   padding: 20px;
   line-height: 25px;
   padding: 40px;
   h4{
      margin: 10px;
   }
   ul{
      margin: 10px 0 10px 25px;
   }
   >ul{
      list-style-type: decimal;      
      ul{
         list-style-type: square;      
      }
   }
}

/*=============================
            Product list
  =============================*/
#ProductList{
   list-style: none;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.listItem{
   display: flex;
   flex-direction: column;
   
   box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
   background-color: white;
   margin: 10px;
   width: 330px;
   height: 600px;      
   padding: 30px;
   border-radius: 10%;   

   .prodDesc{
      overflow: auto;
   }
}

.deleter{
   width: 30px;
   border-radius: 100%;
   transition: $transition;
   &:hover{
      background-color: $hover-cl;
      cursor: pointer;
   }      
}   

.productImage{
   padding: 10px;
   align-self: center;
   height: 250px;
   width: 250px;    
}

/*=============================
         Role switcher
  =============================*/
.switcherRole{
   @extend %flex-template;
   flex-direction: column;
   align-items: center;
   color: $bg-cl;
   position: relative;
   left: 1%;
   right: 1%;
   width: 300px;
   padding: 20px;
   margin: auto;
   box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
   form{
      @extend %flex-template;
      flex-direction: column;
   }

   p{
      transform: scale(0);
      transition: 0.4s;
      font-size: 70%;
   }

   .notValidDesc{
      &::before{
         content: "Wrong ";
      }
      transform: scale(1);
      color: red;
   }
   .validDesc{
      &::before{
         content: "Correct ";
      }
      transform: scale(1);
      color: green;
   }
}

.invalid{
   box-shadow: 0px 0px 14px 0px rgb(95, 25, 40);
   &:focus{
      box-shadow: 0px 0px 14px 0px rgb(95, 25, 40);
   }
}

/*=============================
        Form styles
  =============================*/
.input{
   font-family: 'Cuprum';
   font-size: 110%;
   color: #757575;
   background-color: #fafafa;
   padding: 0.25em;
   border: 1px solid lightgray;
   border-radius: 5px;
   outline: none;
   margin: 7px;
    
}

button{
   background: 0 0;
   border: none;
   border-radius: 2px;
   color: #757575;
   position: relative;
   height: 36px;
   margin: 0;
   min-width: 64px;
   padding: 0 16px;
   display: inline-block;
   font-family: "Roboto", Helvetica, Arial, sans-serif;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 0;
   overflow: hidden;
   will-change: box-shadow;
   transition: 0.2s;
   outline: none;
   cursor: pointer;
   text-decoration: none;
   text-align: center;
   line-height: 36px;
   vertical-align: middle;
   &:hover{
      background-color: rgba(158, 158, 158, 0.2);
   }      
   &:active{
      background-color: rgba(158, 158, 158, 0.4);
   }       
}   

/*=============================
            Media
  =============================*/
@media screen and (max-width: 800px){
   main{
      width: 100%;
   }     
}