/*=============================
            Banner
  =============================*/
.banner{
   height: 400px;
   background-color: $font-cl;
   background-image: url("../Images/logo.svg");
   background-repeat: no-repeat;
   background-position: center center;
}

.navigation{
   position: absolute;
}

.agregator{
   transform: scale(0);
   position: absolute;  
}

/*=============================
            Menu-main
  =============================*/
.menu-main{
   justify-content: center;
   height: 60px; 
}

%point-main-template{
   border-bottom: 5px solid $bg-cl;
   justify-content: center;
   &:hover{
      border-bottom-color: $hover-cl;
   }
}

.points-main{      
   @extend %point-main-template; 
   border-bottom: 5px solid $bg-cl;
   justify-content: center;
   width: 110px;
   .ref-main{
      padding-top: 5px 
   }
   &:last-child{
      .ref-main{
         padding-top: 0; 
      }
      border: none;
      background-color: $click-cl;
      &:hover{
         background-color: $hover-cl;
      }
   }
}

.points-main-openable{
   @extend %point-main-template;
   display: flex;
   width: 140px;
   .ref-main{
      padding: 5px 20px 0;
   }
   .arrow{
      margin-top: 5px;
   }
   &:hover{
      .arrow{
         transform: rotate(270deg);
         background-color: $hover-cl;
         border-color: $hover-cl;
      }
      .menu-sub{
         transform: skew(0) scale(1);
      }
   }
}

/*=============================
            Menu-sub
  =============================*/
.menu-sub{
   justify-content: center;
   flex-wrap: wrap;
   background: rgba(0, 0, 0, 0.575);  
   box-shadow: $shadow;    
   top: 100%;
   left: 10%;
   right: 10%;
   margin: auto;
   padding: 10px 130px;
   border-radius: 0 0 25% 25%;
   transform: skew(-60deg) scale(0);
   transform-origin: top center;   
}

.ref-sub{
   height: 50px;
   width: 120px;
   justify-content: center;
   border-radius: 10%;
   &:hover{
      box-shadow: $shadow;
      background-color: $hover-cl;
   }     
} 

/*=============================
            Searcher
  =============================*/
.search-box{
   top: 100%;
}

#field{
   width: 80%;  
}

#submit{
   width: 20%;
}

.summary-sidebar, .adder-product{
   top: 50%;
}

/*=============================
            Animation
  =============================*/
.navigation-fixed{
   position: fixed;
   top: 0;
   .menu-main{
      height: 47px;
      opacity: 0.9;
   } 
   .revealer-search{
      top: 10px;
   }
   .summary-sidebar, .adder-product{
      top: 25%;
   }
   #Spinner{
      width: 25px;
      height: 25px;
   }
}

.spinner-box{
   display: flex;
   justify-content: center;
   align-content: center;
   width: 60px;
}

#Spinner{
   display: flex;
   justify-content: center;
   align-content: center;
   align-self: center;
   width: 35px;
   height: 35px;
   background-color: $font-cl; 
   border-radius: 100%;
   animation: spin 8s linear infinite;
}



@keyframes spin{
   from { transform: rotate(0); }
   to { transform: rotate(360deg); } 
}