/*=============================
            Banner
  =============================*/
.banner{
   height: 300px;
   background-color: $font-cl;
}

.navigation{
   position: relative;
}

.agregator{
   transform: scale(0);
   position: absolute;  
}

/*=============================
            Menu-main
  =============================*/
.menu-main{
   justify-content: center;
   height: 60px; 
}

.points-main{       
   border-bottom: 5px solid $bg-cl;
   &:hover{
      border-bottom-color: $hover-cl;
      .arrow{
         transform: rotate(270deg);
         background-color: $hover-cl;
         border-color: $hover-cl;
      }
      .menu-sub{
         transform: skew(0) scale(1);
      }
   }
}

#AdminPage{
   background-color: $click-cl;
   border-bottom-color: $click-cl;
   &:hover{
      border-bottom-color: $hover-cl;
   }
}


.refs-main{
   padding: 5px 20px 0;
}

.arrow{
   margin-top: 5px;
}
/*=============================
            Menu-sub
  =============================*/
.menu-sub{
   justify-content: center;
   flex-wrap: wrap;
   background: rgba(0, 0, 0, 0.575);  
   box-shadow: $shadow;    
   top: 100%;
   left: 10%;
   right: 10%;
   width: 600px;
   margin: auto;
   padding: 10px 130px;
   border-radius: 0 0 25% 25%;
   transform: skew(-60deg) scale(0);
   transform-origin: top center;   
}

.refs-sub{
   padding: 10px 20px;
   width: 120px;
   border-radius: 10%;
   &:hover{
      box-shadow: $shadow;
      background-color: $hover-cl;
   }     
} 

/*=============================
            Searcher
  =============================*/
.search-box{
   top: 100%;
}

#field{
   width: 80%;  
}

#submit{
   width: 20%;
}

/*=============================
            Animation
  =============================*/
.navigation-fixed{
   position: fixed;
   top: 0;
   .menu-main{
      height: 47px;
      opacity: 0.95;
   } 
   .revealer-search{
      top: 10px;
   }
   #Spinner{
      width: 25px;
      height: 25px;
   }
}

#Spinner{
   display: flex;
   justify-content: center;
   align-content: center;
   align-self: center;
   width: 35px;
   height: 35px;
   background-color: $font-cl; 
   border-radius: 100%;
   animation: spin 8s linear infinite;
}

@keyframes spin{
   from { transform: rotate(0); }
   to { transform: rotate(360deg); } 
}