/*=============================
           Navigation
  =============================*/
.navigation{
   position: fixed;
   top: 0;
}



/*=============================
            Menu-main
  =============================*/
.menu-main{
   opacity: 0.95;
   position: absolute;
   flex-direction: column;
   width: 250px;
   border-bottom-right-radius: 25%;
   border-bottom: 5px solid $hover-cl;
   border-right: 5px solid $hover-cl;
   transform: translateX(-120%);
   z-index: 12;
}

.points-main{
   position: relative;
}

.points-main:last-child>.refs-main{
   width: 86%;
   border-radius: 0 60% 13% 0;
}

/*=============================
           Sub-opener
  =============================*/
.sub-opener{
   position: absolute;
   align-self: stretch;
   background-color: $click-cl;
   border: 2px solid $bg-cl;
   left: 155px;
   padding: 13px 10px 14px 15px;
   border-radius: 50% 0 0 50%;     
   span{
      transition: $transition;
      &::before{content: 'Expand';}
   }   
   &:hover>span{
      color: rgb(155, 155, 155);
   }
}

/*=============================
               Refs
  =============================*/
%refs-mob{
   padding-left: 15px;
   height: 55px;         
}

.refs-main{      
   @extend %refs-mob;
   border-left: 10px solid $bg-cl;
   width: 100%;
   &:hover{
      background-color: $hover-cl;
      border-left-color: $click-cl;
   }
}

.refs-sub{
   @extend %refs-mob;
   align-items: center;
   border-left: 10px solid $click-cl;
   &:hover{
      background-color: $hover-cl;
      border-left: 10px solid $bg-cl;
   }
}

/*=============================
            Menu-sub
  =============================*/
.menu-sub{
   background-color: $click-cl;
   flex-direction: column;
   top: 100%;
   width: 100%;
   z-index: 11;
   max-height: 200px;
   overflow-y: auto; 
   border: 1px dashed $bg-cl;
   transform: translateX(-100%);
   &::-webkit-scrollbar{
      width: 40px;
   }
   &::-webkit-scrollbar-thumb{
      border-bottom-left-radius: 25%;
      background-color: #6dc0c8;
   }   
}

/*=============================
            Searcher
  =============================*/
.search-box{
   flex-direction: column-reverse;
   z-index: 12;
}

#submit, #field{
   width: 100%;
}

/*=============================
           Summary, Adder
  =============================*/
.summary-sidebar{
   top: 25.2%;
   z-index: 11;
}
.adder-product{
   top: 25%;
   z-index: 11;
}
/*=============================
            Animation
  =============================*/
.opened-menu{
   transform: translateX(0);
}

.opener-clicked{
   border-right: 10px solid $hover-cl;
   span::before{
      content: 'Narrow';
   }     
   .arrow{
      background-color: rgb(155, 155, 155);
      border-color: rgb(155, 155, 155);
      transform: rotate(270deg);
   }  
}