@font-face{
  font-family: 'Anton';
  src: url(./Anton-Regular.ttf);
}

$font-stack: 'Anton', sans-serif;
$font-color: white;
$font-size: 18px;
$bg-color: rgb(26, 24, 24);
$hover-color: rgb(75, 75, 75);
$padding-h: 20px;
$padding-v: 15px;

main, footer{
  position: relative;
  top: $font-size + $padding-v*2 +9px;
}

nav{
  font-family: $font-stack;
  font-size: $font-size;
  position: fixed;
  width: 100%;
  z-index: 10;
  color: $font-color;
}


/*==========================
          Main-menu
============================*/
#menu-template{
  display: flex;
  background-color: $bg-color;
  box-shadow: 0px 0px 21px 0px rgba(51, 50, 50, 0.75); 
}

#main-menu{
  @extend #menu-template;
  flex-flow: row;
  position: relative;

  li{
    padding: $padding-v $padding-h;
    
    a{
      color: $font-color;
    }

  }

  li:hover{
    background-color: $hover-color;
    transition: 0.8s;
    cursor: pointer;

    #sub-menu-l1{
      visibility: visible;
      opacity: 1;
      transition: 1s;
    }
  }
}

#sub-menu-l1{
  @extend #menu-template;
  flex-flow: column;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  top: 99%;
  margin-left: -$padding-h;
}

#agregator{
  display: none;
}

@media screen and (max-width: 700px){
  #agregator{
      display: block;
      user-select: none;
  }

  #main-menu, #sub-menu-l1,  #sub-menu-l2{
      flex-flow: column;  
  }
}