.main-menu
  li:hover    
    background-color: $hover-color
  
    .sub-menu
      transform:  skew(0) scale(1.0)

    .arrow
      transform: rotate(270deg)   
  
     
      
.areaGrower span
  display: none

.sub-menu
  transform-origin: center top
  transform: skew(-60deg) scale(0)

