$font-stack: 'Anton', sans-serif;
$font-color: white;
$font-size: 18px;
$bg-color: rgb(26, 24, 24);
$hover-color: rgb(75, 75, 75);
$padding-h: 20px;
$padding-v: 15px;

/*==========================
          Banner
============================*/
#banner{
  height: 200px;
  background-color: azure;
}


nav{
  font-family: $font-stack;
  font-size: $font-size;
  color: $font-color;
  width: 100%;
  position: relative;
  top:0;
  user-select: none;
  
}


/*==========================
          Menu-template
============================*/
%menu-template{
  display: grid;
  justify-content: center;
  align-content: center;

  background-color: $bg-color;
  box-shadow: 0px 0px 21px 0px rgba(51, 50, 50, 0.75); 
  
}

/*==========================
          Main-menu
============================*/
.main-menu{
  @extend %menu-template;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr;

  
  z-index: 10;
  transform: translateY(0);
  transition: 0.5s;

  li{    
    a{
      display: inline-block;
      padding: $padding-v $padding-h;
      color: $font-color;
      
    }

    &:hover{
      background-color: $hover-color;
      transition: 0.8s;
      cursor: pointer;
      box-shadow: 0px 0px 21px 0px rgba(51, 50, 50, 0.75); 

      >.desktop{
        transform: translateY(0) translateZ(0) scale(1.0) skew(0);
        visibility: visible;
        transition: 0.5s;
      }

      .arrow{
        transform: rotate(270deg);
        transition: 0.5s;
        
      }
    }
  }
}

.arrow{
  
  margin: -2px 10px -2px -10px;
  background-color: white;
  border-radius: 100%;
  border: 1px solid white;
  transform: rotate(90deg);
  margin-left: -10px;
}

.areaGrower{
  display: inline-block;
}
/*==========================
          Sub-menu
============================*/
.sub-menu{
  @extend %menu-template;
  //grid-template-rows: 100px;
  grid-template-columns: repeat(4, auto);

 
  position: absolute;
  left: 10%;
  right: 10%;
  width: 80%;
  background-color: rgba(26, 24, 24, 0.8);
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;

  li{
    border-radius: 35%;

    &:hover{
      background-color: $bg-color;
    }
  }
}

.desktop{
  transform-origin: right top;
  transform: translateY(100%) translateZ(-50px) scale(0) skew(-60deg);
  visibility: hidden;
}

/*==========================
          Mobile-tools
============================*/
#agregator{
  color: $font-color;
  background-color: $bg-color;
  box-shadow: 0px 0px 21px 0px rgba(51, 50, 50, 0.75); 
  padding: $padding-v $padding-h;
  display: none;

  
  &:hover{
    background-color: $hover-color;
    transition: 0.8s;
    cursor: pointer;
  }
}

.hidden-menu-m{
  transform: translateX(-100%);
}

.hidden{
  display: none;
}

/*==========================
          Media
============================*/
@media screen and (max-width: 700px){

  #agregator{
      display: block;
      user-select: none;
  }

  .main-menu{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);
      width: 200px;  
      position: absolute;
      border-bottom-right-radius: 35%;
      overflow: hidden;
  }

  #banner{
    display: none;
  }

  .sub-menu{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
    position: relative;
    justify-content: start;
    left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    max-height: 230px;
    overflow-y: auto;

    background-color: #2f878d;

    &::-webkit-scrollbar{
      width: 30px;
    }

    a{
      width: 75%;
    }

    li{
      border-radius: 0;

      &:hover{
        background-color: #1f6468;
      }
    }
  }

  .arrow{
    border-width: 3px;    
  }

  .areaGrower{
    padding: 14px 23px;

    &:hover>.arrow{
      background-color: #56999f;
      border-color: #56999f;
    }
  }
}

/*==========================
          Scroll
============================*/
  ::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
  }
    
  ::-webkit-scrollbar-track {
      background-color:#ecedee
  }
    
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#6dc0c8;
  }
    
  ::-webkit-scrollbar-thumb:hover{
    background-color:#56999f;
  }
    
  ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
  }
    
  ::-webkit-scrollbar{
    width: 5px;
  }