html, body, header *{
    margin: 0;
    padding: 0; 
    text-decoration: none;
    list-style: none;
}

@font-face{
    font-family: 'Anton';
    src: url(../Fonts/Anton-Regular.ttf);
}

article{
    padding: 10px 20px;

    summary{
        user-select: none;
        outline: 0px;
    }

    h1{
        margin: 0px 0px 15px;
    }
}

main{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(218, 218, 218);
    box-shadow: 0px 0px 21px 0px rgba(51, 50, 50, 0.75); 
    height: 2000px;
}

body{
    background-image: radial-gradient(black 1px, #6dc0c8 1px);
    background-size: 10px 10px;
}

@media screen and (max-width: 700px){
    main{
        width: 100%;
    }
}