@font-face{
   src: url("../../../SharedAssets/Fonts/Roboto-Regular.ttf");
   font-family: 'Roboto';
}

@font-face{
   src: url("../../../SharedAssets/Fonts/Cuprum-Regular.ttf");
   font-family: 'Cuprum';
}

@font-face{
   src: url("../../../SharedAssets/Fonts/Anton-Regular.ttf");
   font-family: 'Anton';
}