@import './variables.scss';

header ul, ol{
   list-style: none;
}

a{
   text-decoration: none;
}

*{
   margin: 0;
   padding: 0 ;
   box-sizing: border-box;
   scroll-behavior: smooth;
}
   
/*================Scroll-bar================*/
::-webkit-scrollbar-button{
   width: 5px;
   height: 0px;
} 
 
::-webkit-scrollbar-track{
   background-color: $font-cl;
} 
  
::-webkit-scrollbar-thumb{
   border-radius: 0px;
   background-color: $hover-cl;
   &:hover{
      background-color: $click-cl;
   }
} 
     
::-webkit-resizer{
   width: 4px;
   height: 0px;
}
   
::-webkit-scrollbar{
   width: 5px;
}  